.asideContentTitle
{
  text-align: left;

}
header {

   color: blue;
   padding-left: 15px;
}


h4{
  color: blue;
}

nav{

  border-style: solid;
  border-width:  thick thin thin ;
  border-color: black;

}

.container{
  background-color: #b3d1ff;
   padding-bottom: : 40px;

}


th{
  color: blue;
  padding-left: 5px;
}
.tableImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body, .contentLinks, .tableContent {
background-color: #cce0ff;
border-style: solid;
border-width:  thin thin thin ;
border-color: black;

}

.titleImg {
  border-radius: 50%;
}
